<%- include("partials/header"); -%>

  <section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-5 mx-auto">
            <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href="/articles/new">
            New Article
          </a>
    </div>
  </section>
  <% articles.forEach(article => { %>
    <section class="text-gray-600 body-font overflow-hidden">
      <div class="container px-5 py-10 mx-auto">
        <div class="-my-8 divide-y-2 divide-gray-100">
          <div class="py-8 flex flex-wrap md:flex-nowrap">
            <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
              <span class="mt-1 text-gray-500 text-sm"><%= article.createdAt.toLocaleDateString() %></span>
            </div>
            <div class="md:flex-grow">
              <h2 class="text-2xl font-medium text-gray-900 title-font mb-2"><%= article.title %></h2>
              <p class="leading-relaxed"><%= article.description.substring(0,500) + " ..."%></p>
            </div>
          </div>
          <a class="no-underline hover:underline ... text-gray-900" href="articles/<%= article.slug %>">Read More</a>
          <div>
            <a class="no-underline hover:underline ... text-gray-700 " href="articles/edit/<%= article.id %>">Edit</a>
          </div>
          <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" >
            <button type="submit" class="no-underline hover:underline ... text-red-900" >Delete</button>
          </form>
        </div>
      </div>
    </section>
  <% }) %>
<!-- Footer -->
</body>
</html>
